<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ubs.beans"/>
    <bean id="employee"  class="com.ubs.beans.Employee" autowire="byName">
        <constructor-arg index="0" value="Sachin"/>
        <constructor-arg index="1" value="1"/>
        <constructor-arg index="2" value="Mechanical"/>
    </bean>

    <bean id="deptDetail"    class="com.ubs.beans.Department">
        <constructor-arg index="0" value="Shop"/>
        <constructor-arg index="1" value="100"/>
    </bean>

</beans>